$wid:1280px;
html{
    overflow-x: hidden;
}
body{
    margin:0; 
    padding:0;
}

.navmean{
    width: $wid;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    font-size: 10px;
    position: absolute;
    background:#fff ;
    color: #000;
    padding-left:230px ;
    .loog{
        width: 90px;
        height: 25px;
        float: left;
        position: absolute;
        margin-top: 5px;
        line-height: 25px;
        img{
            width:30px;
            float: left;
            z-index: 1;
        }
        h3{
            width: 70px;
            font-weight: 900;
            color: #000;
            font-size: 15px;
            margin-left: 35px;
            margin-top: 5px;
        }
    }
    .ulnav{
        width: 750px;
        list-style: none;
        float: left;
        margin-top: 10px;
        margin-left: 60px;
        position: absolute;
        li{
            float: left;
            font-size: 15px;
            font-weight: 500;
            margin-left: 30px;
        }
        .mean{
            width: 20px;
            margin-left: 570px;             
        }
    }
    .meannav{
        width: 180px;
        height: 120px;
        background: #fff;
        position: absolute;
        top: 30px;
        left: 900px;
        color: #000;
        display: none;
        img{
            margin-right: 165px;
           
        }
     li{
         list-style: none;
         margin-right: 20px;
           p{
             margin: -20px 35px 15px;
            }
        
        }
        
    }
    .box{
        background-color: #fff;
        width: 1280px;
        // height: 260px;
        float: left;
        margin: -40px -340px;
        display: none;
        ul{
           
            width: 100%;
            height:260px;
            // float: left;
          
            li{ 
                display: flex;
                list-style: none;
                height:260px;
                text-align: center;
                float: left;
                margin: 0 auto;
                position: relative;
                left: 290px;
                top: 70px;
               
                img{
                    width: 110px;
                }
            }
        }
    }
}
.connect{
    width:$wid ;
    margin: 0 auto;
    .pic{
        margin-top: 100px;
        margin-left: 100px;
        width: 500px;
        float: left;
        .img1{
            width: 365px;
            margin-left: 150px;
        }
        .picbox{
            margin-left: 40px;
            float: flex;
            list-style: none;
            li{
                opacity: .5;
                float: left;
                img{
                    width: 60px;
                }
            }
        }
    }
    .int{
        float: left;
        margin-top: 60px;
        max-width: 492px;
        padding-top: 80px;
        padding-left: 68px;
        padding-right: 40px;
        .product{
            text-align: left;
            margin-top: -75px;
            border-bottom: 1px solid #EDEDED;
            .productname{
                font-size: 22px;
                line-height: 39px;
                margin-bottom: 7px;
                justify-content: space-between;
            }
            .producttext{
                display: inline-block;
                color: #a0a0a0;
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 12px;
            }
        }
        .list{
          p{
            font-size: 14px;
            line-height: 14px;
            color: #666;
            margin-top: 30px;
            margin-bottom: 20px;
           } 
           .color{
               width: 200px;
               height: 40px;
               line-height: 40px;
               text-align: center;
               float: left;
               border: 1px  #81cdb1  solid;
               margin-right: 10px;
               margin-bottom: 10px;
           } 
         }
      .pro{
           margin-top: 140px;
           p{
            font-size: 14px;
            line-height: 14px;
            color: #666;
            margin-top: 30px;
            margin-bottom: 20px;
            margin-left: 10px;
           } 
           .con{
            width: 200px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            float: left;
            border: 1px  #81cdb1  solid;
            margin-right: 10px;
            margin-bottom: 10px;
           }
       }
        .detail{
            margin-top: 230px;
            p{
                font-size: 14px;
                line-height: 14px;
                color: #666;
                margin-top: 30px;
                margin-bottom: 20px;
               } 
               .detailbox{
                width: 200px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                float: left;
                border: 1px  #ccc solid;
                margin-right: 10px;
                margin-bottom: 10px;
                .num{
                    text-align: center;
                    border: none;
                }
               }

           
    }
    .btn{
        margin-top: 100px;
        .btn1{
            width: 200px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            float: left;
            background: #ccc;
            color: #000;
            margin-right: 10px;
            margin-bottom: 10px;
}
        .btn2{
            width: 200px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            float: left;
            background: #f45055;
            color: #fff;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
    }
}

.footer{
    width: 1280px;
    text-align: center;
    ul{
        list-style: none;
        margin-top: 20px;
        font-size: 10px;
        float: left;
    }
    .tel{
       
        margin-right:140px ;
        #btn{
            width: 180px;
            height: 50px;
            margin-top: 50px;
            background:#666 ;
            border-radius: 45px;
        }
        p{
            margin-left: 690px;
        }
    }
    .ttt{
        width: 675px;
        margin: 0 auto;
        border-top: solid 1px #ccc;
        margin-top: 20px;
        padding-top: 25px;
        font-size: 8px;
    }
}