$wid:675px;
.header{
    width: $wid;
    margin: 0 auto;
    img{
        height: 45px;
        margin-left: -305px;

    }
}
.nav{
    width: $wid;
    height: 40px;
    background-color: #000;
    margin: 0 auto; 
    ul{
    height: 40px;
    }
   li{
    height: 40px;
    font-size: 8px; 
    line-height: 40px;
    padding-top: 0 ;
    padding-left: 10px ;
    text-align: center;
    a{
        color: #fff;}
   }
}
