.header{
    width: 1280px;
    height: 78px;
    color: #b2c1d6;
    .txt{
        height: 78px;
        float: right;
        h3{
            width: 100px;
            font-size: 13px;
            float: left;
            margin-left: 15px;
        }
    }
}
.box{
    width: 1280px;
    margin: 0 auto;
    .box_small{
        width: 500px;
        height: 500px;
        margin: 0 auto;
       .tab{
            width: 500px;
            margin: 0 auto;
            text-align: center;
            font-size: 35px;
            margin-bottom: 30px;
        }
        .txt{
            width: 500px;
            margin: 0 auto;
            padding: 0 70px;
            .txt1{
                width: 180px;
                float: left;
                text-align: center;
                border-right: 2px #ccc solid;
                margin-bottom: 20px;
            }
            .txt2{
                width: 180px;
                float: left;
                color: #ccc;
                text-align: center;
                margin-bottom: 20px;
            }
        }
        .boxphone{
            margin-bottom: 15px;
            .text4{
                width: 445px;
                height: 60px;
                border-radius: 4px;
                border:none;
                margin-bottom: 5px;
                background-color: #f7f7f7;
            }
            .text3{
                width: 310px;
                height: 60px;
                border-radius: 4px;
                border:none;
                background-color: #f7f7f7;
            }
            .btn1{
                width: 130px;
                height: 60px;
                border:none;
                border-radius: 4px;
                background-color: #d9d9d9;
            }
        }
        .boxpc{  
            display: none;
            .text1{
                width: 445px;
                height: 60px;
                border-radius: 4px;
                border:none;
                margin-bottom: 3px;
                background-color: #f7f7f7;
            }
            .text2{
                width: 445px;
                height: 60px;
                border-radius: 4px;
                border:none;
                margin-bottom: 3px;
                background-color: #f7f7f7;
            }
            h4{
                height: 20px;
                color: #ccc;
            }
        }
        .btn2{
            width: 445px;
            height: 60px;
            color: #fff;
            font-size: 20px;
            border-radius: 4px;
            background-color: #2ad181;
            margin-bottom: 1px;
        }
        .box_footer{
            width: 445px;
            height: 20px;
            color: #ccc;
            .box_footer_left{
                float: left;
            }
            .box_footer_right{
                float: right;
                a{
                    color: #2ad181;
                    text-decoration: none;
                }
            }
        }
     }
      
}
.footer{
    width: 1280px;
    background-color: #fff;
    p{
        width: 1280px;
        margin: 0 auto;
        color: #ccc;
        text-align: center;
    }
}
